.discount {
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: url(../images/discount/discount-bg.webp);
    background-size: cover;
    background-position: 15% 50%;
    display: flex;
    align-items: center;
}

.discount .discount__inner {
    width: 100%;
    padding: 0 24px;
}

.discount_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.discount_content p {
    font-family: 'Bebas Neue', cursive;
    color: rgba(255,255,255,0.62);
    font-size: 22px;
}

.discount_content h3 {
    font-family: 'Bebas Neue', cursive;
    font-size: 62px;
    line-height: 62px;
    font-weight: 400;
    color: #fff;
    margin-top: 20px;
}

.discount_content .btn__wrapper {
    margin-top: 50px;
}

.discount_content .btn__wrapper .btn {
    font-family: 'PT Sans' ,sans-serif;
    color: #000;
    background-color: #fff;
    display: inline-block;
    padding: 18px 30px;
    font-size: 16.5px;
    font-weight: 700;
    cursor: pointer;
}

.discount_content .btn__wrapper .btn i {
    margin-left: 5px;
    vertical-align: middle;
}

.btn__wrapper .btn:hover {
    background-color: black;
    color: white;
}

@media(min-width:768px) {
    .discount {
        min-height: 900px;
        height: 100%;
        padding-top: 155px;
        padding-bottom: 160px;
    }
    .discount_content p {
        font-size: 24px;
    }
    .discount_content h3 {
        font-size: 124px;
        line-height: 124px;
        max-width: 690px;
    }
}

