.hero {
    padding-top: 110px;
    padding-bottom: 110px;
    background-image: url(../images/hero/hero.webp);
    background-size: cover;
    background-position: 15% 50%;
}

.hero .hero__inner {
    width: 100%;
    padding: 0 24px;
}

.hero_content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 15px;
    padding-right: 15px;
}

.hero_content p {
    font-family: 'Bebas Neue', cursive;
    color: var(--main-gray-color);
    font-size: 22px;
}

.hero_content h1 {
    font-family: 'Bebas Neue', cursive;
    font-size: 62px;
    line-height: 62px;
    font-weight: 400;
    margin-top: 20px;
}


.hero_content .btn__wrapper .btn--red {
    background-color: var(--main-red-color);
}

.hero_content .btn__wrapper .btn--red:hover {
    background-color: var( --main-black-color);
}

@media(min-width:768px) {
    .hero {
        min-height: 900px;
        height: 100%;
        padding-top: 160px;
        padding-bottom: 160px;
    }
    .hero_content p {
        font-size: 24px;
    }
    .hero_content h1 {
        font-size: 124px;
        line-height: 124px;
        max-width: 690px;
    }
}

