.blog {
    padding-top: 50px;
    padding-bottom: 90px;
}

.blog .blog__inner {
    margin-top: 45px;
    padding: 0 24px;
}

.blog__content {
    display: flex;
    height: 450px;
    width: 100%;
    justify-content: center;
    font-size: 24px;
    font-weight: 600;
    line-height: 32;
    align-items: center;
    border: 1px solid rgba(33, 39, 54, 0.20);
}